
h1 {
	font-family: Market Deco;
	font-size: 40px;
    font-weight: lighter;
	padding-bottom: 1px;
	text-align: center;
}
h2 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
}
h3 { 
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

body {

	font-family: Baskerville, serif;
	font-size: 15px;
	color:  #4d4d4d;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
}
p {
	padding: 0px 300px;
	color: 	 #808080;
	font-size: 15px;
    text-align: justify;
}
img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;

}
iframe {
    display: block;
    margin: auto;
}

#nav {
    width: 750px;
    margin: 20 auto;
    list-style-type: none;
    padding-left: 250px;
    overflow: hidden;
    background-color: white;
    position: relative;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
    padding-bottom: 15px;
    font-family: 'Amatic SC';

}
#nav li {
    float: left;
    width: 140px;

}
#nav li a {
display: block; 
    color: #696969;
    text-align: center;
    padding: 5px 10px;
    margin: 0px;
    font-size: 22px;
    text-decoration: none;
}
#nav li a:hover {
    color: #000000;
}

div.img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    align-items: center;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    width: 250px;
    padding: 15px;
    text-align: justify;
}
div.footer {
    font-size: 11px;
    font-family: Arial;
    padding: 3px 30px;
    margin-bottom: 50px;
}
a:link {color:black; background-color:transparent; text-decoration:none}
a:visited {color:#696969; background-color:transparent; text-decoration:none}
a:hover   {color:black; background-color:transparent; text-decoration:none}
a:active  {color:black; background-color:transparent; text-decoration:bold}
